<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidToolBox" >
        <!-- android:configChanges="uiMode" 删掉，只要 Activity 没有被声明拦截 uiMode，
        系统就会在用户切换深色/浅色时 自动重建 Activity，界面立即跟随。写了 uiMode，系统认为你要自己处理，于是不再重建。-->
        <activity
            android:name=".core.BaseActivity"/>
        <activity
            android:name=".feature.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 预留 -->
        <activity android:name=".feature.applist.AppListActivity" />
        <activity android:name=".feature.pkgmanager.PkgManagerActivity" />
        <activity android:name=".feature.more.MoreActivity" />
    </application>

</manifest>